<div class="grid grid-cols-1 grid-rows-2 md:grid-rows-1  md:grid-cols-2 md:h-screen place-content-center text-center">
  <div class="m-8 md:m-24 py-12 md:col-start-1 md:row-start-1 row-start-2">
    <h2 class="font-Ubuntu text-veryDarkBlue text-2xl">Register</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="py-8">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="actions">
        <button class="mt-6 px-6 bg-veryLightRed hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"> <%= f.submit "Sign up" %></button>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div>
    <div class=" bg-cover bg-center h-full col-start-1 row-start-1 md:col-start-2"
      style="background-image:linear-gradient(to right, rgba(248, 80, 3, 0.79), rgba(248, 3, 54, 0.76)),url(<%= asset_path 'bg-pattern-intro-mobile.svg' %>);">
    </div>
  </div>
</div>