<%= form_with model: @blog_post do|form| %>
<% if form.object.errors.any? %>
<div>
    <% form.object.errors.full_messages.each do |message| %>
    <div><%= message %></div>
    <%end%>
</div>
<% end %>
<div class="flex flex-col my-12">
<%= form.label :title %>
<%= form.text_field :title %>
</div>
<div class="flex flex-col my-12">
<%= form.label :extract %>
<%= form.text_field :extract%>
</div>
<div>
<%= form.label :body %>
<%= form.rich_text_area :content %>
</div>
<div class="m-3 mt-12 bg-veryLightRed hover:bg-textRed text-white hover:text-white font-medium py-1 px-6 rounded-full"><%= form.button %></div>
<%end%>