<%= render partial: "shared/navbar" %>
<div class="py-24">
  <div class="grid grid-cols-1 md:grid-cols-[minmax(2rem,1fr)_minmax(0,20rem)_minmax(0,20rem)_minmax(0,20rem)_minmax(2rem,1fr)] gap-6 px-4 md:px-0 mt-24 py-16 bg-veryLightRed/10">
    <!-- Hero Section -->
    <div class="md:col-start-2 md:col-span-2 flex flex-col gap-6">
      <!-- Image Box -->
      <div class="relative isolate rounded-sm flex justify-center">
        <img src="/assets/mat_pink.png" alt="Blog Banner" class="w-full">
          <div class="absolute inset-0 bg-[hsl(355,100%,74%)]/20"></div>
      </div>
      <!-- Text Box -->
      <div class="bg-white rounded-sm p-6">
        <h3 class="pb-6 font-Ubuntu text-veryDarkBlue text-2xl">Header about something</h3>
        <p class="font-light">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
    <!-- Blog Posts -->
    <div class="md:col-start-4 md:col-span-1 flex flex-col gap-4 mt-10 md:mt-0 bg-white max-w-md mx-auto md:mx-0">
      <!-- User Posts Title -->
      <h3 class="pt-6 pl-6 font-Ubuntu text-veryDarkBlue text-2xl">User Posts</h3>
      <% @blog_posts.each do |blog_post| %>
        <% next unless blog_post.photo.attached? %>
        <%= link_to blog_post, class: "flex items-center bg-white rounded-sm overflow-hidden hover:shadow-lg transition-shadow duration-200 h-[150px]" do %>
          <div class="flex bg-white rounded-lg shadow-md overflow-hidden h-40">
            <%= image_tag blog_post.photo, class: "w-40 h-full object-cover flex-shrink-0 p-6" %>
            <div class="flex-1 flex items-center">
              <p class="font-light pr-6"><%= truncate(blog_post.title, length: 60) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div>
  <p>tab stuff will go here </p>
</div>
<%= render partial: "shared/footer" %>
