 <%= render partial: "shared/navbar"  =%>
<header class="relative text-center">
  <div style="background-image: var(--background-image-intro-mobile)"
     class="h-[40rem] rounded-bl-[5rem] bg-left-bottom md:rounded-bl-[13rem] md:bg-top-right bg-no-repeat bg-cover">
  </div>
  <div class="absolute inset-x-2 bottom-40">
    <h1 class=" text-white text-4xl md:text-6xl p-6 mt-12">A modern girls strength training journey
    </h1>
    <p class="pb-3 font-light text-grayishBlue50">Share and Inspire through your fitness journey</p>
    <div class="md:flex justify-center gap-6 mt-6">
      <%= button_to blog_posts_all_path, method: :get, class: "btn btn-primary" do %>
        Get Inspired
      <% end %>
      <%= button_to new_blog_post_path, method: :get, class: "btn btn-primary" do %>
        Start Sharing
      <% end %>
    </div>
  </div>
</div>
</header>
  <div class="space-y-16 text-center md:text-left mt-24">
    <h2 class="font-Ubuntu m-8 text-center text-veryDarkBlue text-2xl md:text-4xl z-10">Stronger for the Future</h2>
    <!-- Section 1: Intro with text and image -->
    <div class="grid grid-cols-1 md:grid-cols-[minmax(2rem,1fr)_minmax(0,40rem)_minmax(0,40rem)_minmax(2rem,1fr)] gap-6 px-4 md:px-0 pb-12">
      <!-- Left spacer -->
      <div class="hidden md:block"></div>
      <!-- Text content -->
      <div class="flex flex-col justify-center p-10 md:col-start-2">
        <h3 class="pb-6 font-Ubuntu text-veryDarkBlue text-2xl">Introducing something something</h3>
        <p class="pb-6 font-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <h3 class="pb-6 font-Ubuntu text-veryDarkBlue text-2xl">Introducing something something</h3>
        <p class="pb-6 font-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <!-- Image content -->
      <div class="relative overflow-hidden row-start-1 md:col-start-3 flex justify-center">
        <%= image_tag('sitting_girl_desktop.png', class: 'hidden md:block w-auto h-auto object-contain md:mr-[-2rem]') %>
        <%= image_tag('sitting_girl_mobile.png', class: 'block md:hidden') %>
      </div>
      <!-- Right spacer -->
      <div class="hidden md:block"></div>
    </div>
      <!-- Section 2 -->
    <div class="grid grid-cols-1 md:grid-cols-[minmax(2rem,1fr)_minmax(0,40rem)_minmax(0,40rem)_minmax(2rem,1fr)] gap-6 pb-12 relative py-12 mt-32 md:mt-10">
      <!-- Background layer (positioned behind everything) -->
      <div class="absolute inset-0 col-span-full rounded-bl-[10rem] rounded-tr-[10rem] overflow-hidden">
        <div class="absolute inset-0 bg-gradient-to-r from-[hsla(237,17%,21%,0.95)] to-[hsla(237,23%,32%,0.95)]"></div>
        <%= image_tag('bg-pattern-circles.svg', class: 'absolute inset-0 w-full h-full object-cover') %>
      </div>
      <!-- Illustration -->
      <div class="md:col-start-2 flex justify-center md:justify-start relative z-10">
        <%= image_tag("illustration-phones.svg", class: 'object-contain') %>
      </div>
      <!-- Text -->
      <div class="md:col-start-3 flex flex-col justify-center text-center md:text-left relative z-10 p-8 md:pl-14 md:pr-24">
        <h1 class="mt-0 text-4xl md:mt-12 text-grayishBlue50">Content that reflects reality</h1>
        <p class="text-grayishBlue pt-12">
          Lore Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
    <!-- Section 3: Free / Powerful -->
    <div class="grid grid-cols-1 md:grid-cols-[minmax(2rem,1fr)_minmax(0,40rem)_minmax(0,40rem)_minmax(2rem,1fr)] gap-6 px-4 md:px-0 pb-12">
      <!-- Left spacer -->
      <div class="hidden md:block"></div>
      <!-- Image content -->
      <div class="relative overflow-hidden md:col-start-2 flex justify-center">
        <%= image_tag('bottom_desktop.png', class: 'hidden md:block w-auto h-auto object-contain ml-[-2rem]') %>
        <%= image_tag('jump_mobile.png', class: 'block md:hidden') %>
      </div>
      <!-- Text content -->
      <div class="flex flex-col justify-center p-10 md:col-start-3">
        <h3 class="pb-6 font-Ubuntu text-veryDarkBlue text-2xl">Free, Open, Simple</h3>
        <p class="pb-6 font-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <h3 class="pb-6 font-Ubuntu text-veryDarkBlue text-2xl">Powerful</h3>
        <p class="pb-6 font-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <!-- Right spacer -->
      <div class="hidden md:block"></div>
    </div>
  <%= render partial: "shared/footer"=%>